<div class="chat-container">
  <!-- Mensajes -->
  <div *ngFor="let msg of messages" class="chat-message" [ngClass]="msg.sender">
    {{ msg.text }}
  </div>

  <!-- Opciones del bot -->
  <div *ngIf="currentOptions.length" class="options-container">
    <button *ngFor="let option of currentOptions" (click)="selectOption(option)">
      {{ option }}
    </button>
  </div>

  <!-- Cargando -->
  <div *ngIf="loading" class="chat-message bot">Generando viaje...</div>
</div>

<div class="chat-input">
    <input class="input-msj" />
    <button class="button-msj">Enviar</button>
</div>
