.chat-container {
  max-width: 1000px;
  margin: 20px auto;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 10px;
  font-family: sans-serif;
  background: #f9f9f9;

  display: flex;          /* Hacemos contenedor flex */
  flex-direction: column; /* Los mensajes se apilan verticalmente */
}

.chat-input{
  max-width: 1000px;
  margin: 20px auto;
  padding: 10px;
  font-family: sans-serif;
  display: flex;          /* Hacemos contenedor flex */
  flex-direction: row; /* Los mensajes se apilan verticalmente */
}

.input-msj{
  padding: 10px;
  font-size: 20px;
  max-width: 80%;
  align-items: flex-start;
}

.button-msj{
  padding: 10px;
  font-size: 15px;
  max-width: 15%;
  align-items: flex-end;
}

.chat-message {
  margin: 5px 0;
  padding: 8px 12px;
  border-radius: 15px;
  word-wrap: break-word;
}

.chat-message.bot {
  background: #e1f5fe;
  align-self: flex-start; /* mensaje bot a la izquierda */
  max-width: 50%;
}

.chat-message.user {
  background: #c8e6c9;
  align-self: flex-end;   /* mensaje usuario a la derecha */
  max-width: 60%;
}

.options-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start; /* opciones alineadas a la izquierda */
  margin-top: 10px;
}

.options-container button {
  margin: 5px;
  padding: 8px 12px;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  background-color: #1976d2;
  color: white;
}
