<div class="icon-card-container flex flex-wrap justify-center gap-6 
            py-8 sm:py-10 md:py-12 lg:py-16 xl:py-20 bg-gray-50">
  <div class="icon-card flex flex-col items-center p-6 
              rounded-xl shadow-md hover:shadow-xl transition 
              transform hover:-translate-y-2 duration-300 w-40 sm:w-44 md:w-48 lg:w-52"
       *ngFor="let card of cards" [routerLink]="['/funciones', card.route]" role="button"
  tabindex="0">
    <lucide-icon [name]="card.icon" class="w-10 h-10 text-purple-500 mb-1"></lucide-icon>
    <span class="label text-lg font-medium text-gray-800 text-center">{{ card.label }}</span>
  </div>
</div>
