.centered-title-card {
  max-width: 1000px;       /* ancho limitado */
  margin: 0px auto;      /* centrado horizontal */
  text-align: center;
  padding: 30px 20px;
  box-shadow: 0 0px 0px rgba(0,0,0,0.1);
  border-radius: 10px;
  background-color: #fafafa;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.centered-title-card h1 {
  font-size: 4rem;
  font-weight: 750 !important;
  margin: 0;
  color: #333;
}

.centered-title-card p {
  font-size: 1.2rem;
  color: #727272;
  margin: 1.1rem;
  max-width: 65%;
  text-align: center;  
}

.centered-title-card button {
  align-self: center;
  background-color: #9a2fff;
  border-radius: 50px;  /* <-- hace el botón redondeado */
  padding: 10px 30px;   /* más espacio horizontal para la “pill” */
}

/* Responsive */
@media (max-width: 600px) {
  .centered-title-card {
    padding: 20px 15px;
  }

  .centered-title-card h1 {
    font-size: 1.6rem;
  }

  .centered-title-card p {
    font-size: 1rem;
  }
}
